<!DOCTYPE html>

<html>

    <head>
        <link rel="icon" href="/img/mask-icon.png">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div id="main-content">
            {{>header}}
            <div style="padding:5px"></div>
            <div style="text-align: center;">
                <a class="new-post" href="/submitpost?b={{board}}">{MAKE A NEW POST}</a>
                <div style="padding:5px"></div>
                <img id="poliBImg" class="boardImg" src={{boardImg}}>
            </div>

            <div class="post-area">
                {{#each pin}}
                    <div class="post-block">
                        <a style="color: #b92828;">{{this.title}}</a>
                        <span class="timestamp">{{convertDate this.timestamp}}</span>
                        <a class="view-comment-ref" href="/b/{{board}}/{{this._id}}">[View Comments]</a>
                    </div>
                {{/each}}
                
                {{#each unpin}}
                    <div class="post-block">
                        <a>{{this.title}}</a>
                        <span class="timestamp">{{convertDate this.timestamp}}</span>
                        <a class="view-comment-ref" href="/b/{{board}}/{{this._id}}">[View Comments]</a>
                    </div>
                {{/each}}
            </div>
        </div>

        {{>footer}}
    </body>

</html>