<!DOCTYPE html>

<html>

    <head>
        <link rel="icon" href="/img/mask-icon.png">
        <link rel="stylesheet" href="/css/styles.css">
        <title>{{title}}</title>
        <script src="/js/reply.js"></script>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <div class="post-content-block">
                <div style="padding: 5px;"></div>
                <div id="post-username" class="username">
                    {{username}}
                    <span class="timestamp-reply">{{convertDate time}}</span>
                </div>

                <span class="post-content-title">{{title}}</span>

                {{#if content}}
                    <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=1);margin-top:-3px;" width="60%" color="gold" SIZE=3 align="left">
                    <p class="post-content">{{content}}</p>
                {{/if}}
                <br>
                <button onclick="op_reply()">Reply</button>
                <form action="/repost/{{post_id}}" id="repost" method="POST">
                    <input type="submit" value="Repost">
                </form>
                <form action="/p/{{post_id}}" id="op-reply" method="POST" style="display: none;">
                    <textarea class="reply-area" name="userInput" style="background-color: #363636;"></textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>
            {{#addReply reply}}
                {{>replyFooter}}
            {{/addReply}}
        </div>
        {{>footer}}
    </body>

</html>